
@font-face {
	font-family: 'Futura PT Bold';
	src: url('https://github.com/Jaegwer/St.-Pauli/blob/main/Futura%20PT/FuturaPTBold.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
@font-face {
	font-family: 'Futura PT Medium';
	src: url('../fonts/Futura Pt/FuturaPTMedium.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
@font-face {
	font-family: 'Futura PT Heavy';
	src: url('../fonts/Futura Pt/FuturaPTHeavy.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/Futura Pt/FuturaPTBook.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/Proxima Nova/Proxima Nova Bold.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
@font-face {
	font-family: 'Proxima Nova Medium';
	src: url('../fonts/Proxima Nova/Proxima Nova Medium.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url('../fonts/Proxima Nova/Proxima Nova Regular.otf') format('opentype');
	/* Additional font formats and styles can be defined here */
  }
*{
	margin: 0;
	padding: 0;
	font-family: 'Futura PT Bold', sans-serif;
	box-sizing: border-box;
}
header{
	background-color: #EC1B24;
}
header p{
	font-family: 'Futura PT Heavy', sans-serif;
}
nav{
	background-color: #0A0A0A;
	color: #ffffff;

}
.sale-red{
	color: #C90000;
}
.medium a{
	font-family: 'Futura PT Medium', sans-serif;
}
.main-dropdown{
	background-color: #1B1B1B;
	border: 1px solid #707070;
	color: #FFFFFF;
}
.main-dropdown i{
	color: #707070;
}
.dropdown-text{
	font-family: 'Futura PT Medium', sans-serif;
	font-size: 0.9rem;
}
.bold{
	font-family: 'Futura PT Bold', sans-serif !important;
}
#search-box::placeholder {
    font-family: 'Futura PT Medium', sans-serif;
    color: #6F6F6F;
	background-image: url('../images/search.png');
    background-repeat: no-repeat;
	background-position: left center;
  }
#search-box{
	color: black;
  }
.carousel button:hover{
	background-color: white;
	color: black;
}
.hover-img{
	width: 16rem;
	height: 23rem;
  background-image: url("/St.-Pauli/assets/images/bestseller1.png");
  background-size: cover;
  transition: background-image 0.3s ease;
}
.hover-img:hover {
	background-image: url("/St.-Pauli/assets/images/bestseller3.png");
}

.size-select button{
	background-color:#1B1B1B;
}
.bg-red{
	background-color: #EC1B24 !important;
	border-color: #EC1B24;
}
.main-content{
	background-color: #121212;
}
.main-content button p{
	font-size: 1.2vw;
}
.bg-text {
	font-size: 7.3vw;
	color: #222222;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	transition:  0.3s ease;
  }
  .zoom-container:hover .zoom-in {
	transform: scale(1.1); /* Adjust the zoom level as needed */
  }

  .zoom-in {
	transition: transform 0.3s ease; /* Add the transition property */
  }
i {
	color: #ffffff;
}
.socials span{
	color: #ffffff;
}
footer p{
	color: #C1C1C1;
	font-family: 'Futura PT Medium', sans-serif !important;
}
footer h4{
	color: #FFFFFF;
	font-size: 1.1vw;
}
#email::placeholder{
	text-align: center;
}
#email{
	width: 90%;
}
.side-content p{
	font-size: 1.5rem;
}
.sm-text{
	font-size: 0.6rem;
}
.summary p{
	color: #FFFFFF;
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.mobile span {
	font-size: 0.7rem;
}
.mobile-shop{
	font-size: 2.1vw;
}
.impressium-content{
	background-color: #121212;
}
.impressium-content p{
	color: #D6D6D6;
	font-size: 1.2rem;
}
.impressium-content h2{
	color: #FFFFFF;
	font-size: 2rem;
}
.gray-dot{
	width: 10px;
	height: 10px;
	background-color: #606060;
	border-radius: 50%;
}
.white-dot{
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
  }
.custom-dropdown{
	background-color: #212121;
}
.fontAwesome {
	font-family: Helvetica, 'FontAwesome', sans-serif;
  }
  .sub-text{
	color: #B9B9B9;
  }
  .bg-card{
	background-color: #2C2C2C;
  }
footer i{
	color: #C1C1C1;
}
footer{
	background-color: #212121;
}
.zoom-container{
	background-color: #222222;
}
#email::placeholder {
    font-family: 'Futura PT Medium', sans-serif;
    color: #6F6F6F;
	background-image: url('../images/mail.png');
    background-repeat: no-repeat;
	background-position: left center;
  }
  .pagination a{
	border:1px solid #707070;
	color: #FFFFFF
  }
  /* Style for the modal overlay */
.modal {
	z-index: 9999;
  }

  /* Style for the modal content */
  .modal-content {
	max-height: 80vh;
	overflow-y: auto;
  }
.bg-bar{
	background-color: #606060;
}
.modal-content p{
font-size: 1.1rem;
}
.modal-content h1{
font-size: 1.2rem;
}

.head-modal{
	background-color: #121212;

}
.gray-text{
	color: #D6D6D6;
	font-family: 'Futura PT Book', sans-serif;
	font-size: 1.2rem;
}
.card-img span{
	font-family: 'Futura PT Medium', sans-serif;
}
.font-book{
	font-family: 'Futura PT Book', sans-serif !important;
}
.font-md{
	font-family: 'Futura PT Medium', sans-serif !important;
}
.font-nova-bold{
	font-family: 'Proxima Nova Bold', sans-serif !important;
}
.font-nova-md{
	font-family: 'Proxima Nova Medium', sans-serif !important;
}
.font-nova-rg{
	font-family: 'Proxima Nova Regular', sans-serif !important;
}

/* dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
  }

  .custom-dropdown select {
    display: none;
  }

  .custom-dropdown .selected-option {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 0.5px solid #ccc;
    cursor: pointer;
  }

  .custom-dropdown .selected-option .custom-content {
    margin-right: 5px;
  }

  .custom-dropdown .selected-option .flag-icon {
    margin-right: 5px;
  }

  .custom-dropdown .selected-option .chevron-icon {
    margin-left: auto;
    transition: transform 0.3s ease-in-out;
  }

  .custom-dropdown.open .selected-option .chevron-icon {
    transform: rotate(180deg);
  }

  .custom-dropdown .dropdown-menu {
    position: absolute;
    z-index: 10;
    display: none;
    border: 0.5px solid #ccc;
    border-radius: 4px;
    background-color: black;
  }

  .custom-dropdown.open .dropdown-menu {
    display: block;
  }

  .custom-dropdown .dropdown-menu .dropdown-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .custom-dropdown .dropdown-menu .dropdown-item .flag-icon {
    margin-right: 5px;
  }